[user]
    useconfigonly = true

[alias]
    forget = update-index --assume-unchanged
    unforget = update-index --no-assume-unchanged
    forgotten = ! git ls-files -v | grep ^[a-z]
    cat = "!git show \"$1:$2\" #"
    addf = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[init]
    defaultBranch = master

[core]
    autocrlf = input
    excludesFile = ~/.gitignore_global

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
    stash = false
    branch = false

[delta]
    plus-style = "syntax #012800"
    plus-emph-style = "syntax #006000"
    minus-style = "syntax #340001"
    file-style = bold yellow
    file-decoration-style = ol ul
    line-numbers-left-style = white
    line-numbers-right-style = white
    line-numbers-left-format = "{np:^4}│ "
    line-numbers-right-format = " {np:^4}│ "
    line-numbers-zero-style = "#777777"
    line-numbers-minus-style = "#901011"
    line-numbers-plus-style = "#008000"
    hunk-header-decoration-style = white box 
    hunk-header-line-number-style = "#FFA500"
    hunk-header-file-style = "#FFA500"
    syntax-theme = Monokai Extended
    line-numbers = true
    side-by-side = false
    navigate = true
    tabs = 4

[interactive]
    diffFilter = delta --color-only

[pull]
    rebase = true
    twohead = ort
    autostash = true

[include]
    path = ~/.gitconfig.local

