[submodule "oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-fzf-history-search"]
	path = oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
